/* Defining variables */
:root {
    --main-color: #10064b;
    --main-color-darker: #060220;
    --main-color-lighter: #755df8;
    --white: #ffffff;
}

/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bg-second-color {
    background-color: rgb(233, 233, 233);
}
#left-list {
    margin-left: 20px;
}

#left-list a {
    text-decoration: none;
    padding: 7px;
    color: gray;
    font-size: 13px;
    /* text-align: center; */
}

#left-list img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.border-gray {
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
}

.text-gray-dark {
    color: rgb(117, 117, 117);
}

.post-profile {
    width: 55px;
    height: 55px;
    padding: 7px;
}

.text-black {
    color: black;
}

.post-button:hover {
    background-color: rgb(238, 238, 238);
}

.left-button {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.right-button {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.black-color {
    color: black;
}